/* body - The entire body for the application. */
body{
    padding: 0;
    margin: 0;
} 

/* * - All the elements in the application. */
*{
    box-sizing: border-box;
    margin: 0;
} 

/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/* |Admn Navigation| */
#admin-nav{
    display: flex; 
    align-items: center; 
    gap: 100px; 

    /* border: 1px solid white; */
    color: #fde047;
    background-color:#ef4444; 
}
#admin-nav > svg{
    width: 50px; 
    fill: #f3f4f6;
}
#admin-nav > h1{
    flex: 1;
}
#admin-nav > span{
    margin-right: 100px;
}