/* body - The entire body for the application. */
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000000, #434343);  
}

/* * - All the elements in the application. */
*{
    box-sizing: border-box;
    margin: 0; 
}

/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/* Main Navigation - The main navigation secton for the application. */
#main-nav{
    display: flex;
    align-items: center;
    gap: 100px;

    /* border: 1px solid red;  */
    padding: 5px;
    background-color: #43434327;
    color: #f3f4f6;
}
#main-nav > svg{
    width: 50px;
    fill: #f3f4f6; 
    cursor: pointer; 
}

#main-nav > span:nth-child(3){
    display: flex;
    align-items: center; 
    border: 1px solid orange;
}
#main-nav > span:nth-child(3) > svg{ /* Menu & Log-In icons */
    width: 50px; 
    fill: #f3f4f6;
    cursor: pointer; 
}
#main-nav > span:nth-child(3) > svg{
    margin-right: 60px;
}
#main-nav > span:nth-child(3) > svg:hover{
    fill: #fde68a;
}
#main-nav > h1{ /* Brand Title */ 
    flex: 1;
    cursor: pointer;  
}

/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/* |Log-In Window| */
.log-in-window{ 
    display: flex;
    flex-direction: column; 
    gap: 30px;

    border: 1px solid #fde68a;
    background-color: #fde68a;
    color: #fb923c;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    transform: translateX(100%); 
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease;  
    opacity: 0.9;
    padding: 5px;
}
.open-log-in-window{ /* Opens log in window */ 
    transform: translateX(0);
}

.log-in-window > div{ /* log in window|items */ 
    border: 1px solid #f3f4f6;
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.233); 
}
.log-in-window > div:hover{
    background-color: rgba(255, 255, 255, 0.550); 
}

.log-in-window > div:nth-child(1) > svg{ /* Item One|Cancel Image */
    width: 50px;
    fill: #fb923c;
    cursor: pointer; 
}
.log-in-window > div:nth-child(1) > svg:hover{
    fill:#e7b40c; 
}

.log-in-window > div:nth-child(2){ /* Item Two */
    display: flex; 
    align-items: center;
    gap: 10px; 

    padding: 5px; 
}
.log-in-window > div:nth-child(2) > img[src]{ /* Item Two|Profile Image */ 
    border-radius: 20px;  
    padding: 30px; 

    border: 1px solid black;  
}
.log-in-window > div:nth-child(2) > div{ /* Item Two|Profile Name & View Dashboard Link*/ 
    display: flex; 
    flex-direction: column; 
    gap: 5px; 

    /* border: 1px solid black;  */
}
.log-in-window > div:nth-child(2) > div > span{
    font-size: 25px; 
}
.log-in-window > div:nth-child(2) > div > a[href]{
    text-decoration: none;
    color: #fb923c;
    font-size: 18px;  
}
.log-in-window > div:nth-child(2) > div > a[href]:hover{
    text-decoration: underline; 
}

.log-in-window > div:nth-child(3){ /* Item Three */
    padding: 12px; 
}
.log-in-window > div:nth-child(3) > h2{ /* Item Three|Header */
    margin-bottom: 12px; 
}
.log-in-window > div:nth-child(3) > form{ /* Item Three|Form */
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}
.log-in-window > div:nth-child(3) > form > div > label{ /* Form|All Labels */
    display: block;
    font-size: 18px; 
}
.log-in-window > div:nth-child(3) > form > div > input{ /* Form|All Inputs */
    width: 70%; 
    padding: 5px;  
    border: 1px solid #fde68a;
    border-radius: 12px;  
}
.log-in-window > div:nth-child(3) > form > div button{ /* Form|Submit Button */
    color: #f3f4f6;
    font-size: 16px; 
    padding: 3px 15px 3px 15px; 
    cursor: pointer;
    background-color: #fb923c;
    border: 1px solid #fb923c; 
    border-radius: 10px; 
}
.log-in-window > div:nth-child(3) > form > div button:hover{
    background-color: #fb923cb9;
    border: 1px solid #fb923c; 
}
.log-in-window > div:nth-child(3) > p{ /* Item Three|para=Role */ 
    font-size: 18px; 
}

.log-in-window-item-four{ /* Item Four */ 
    padding: 12px; 
    font-size: 18px; 
}
.log-in-window-item-four > a[href]{ /* Item Four|Personal Profile link */
    color: #fb923c;
    text-decoration: none; 
}
.log-in-window-item-four > a[href]:hover{
    text-decoration: underline; 
}


.log-in-window-item-five{ /* Item Five */
    font-size: 18px; 
    padding: 12px;
}
.log-in-window-item-five > a[href]{ /* Item Five|Logout link */ 
    color: #fb923c;
    text-decoration: none; 
}
.log-in-window-item-five > a[href]:hover{
    text-decoration: underline; 
}

/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/* |Admin Section| */
.admin-log-in-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 

    border: 1px solid white;
    border-radius: 12px;
    width: 800px;
    height: 500px;
    padding: 12px; 
    margin: 50px auto;
    color: #f3f4f6;
}
.admin-log-in-section > h2{
    font-size: 30px;
}
.admin-log-in-section > form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* border: 1px solid white; */
}
.admin-log-in-section > form > div{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1px; 
}
.admin-log-in-section > form > div > label{
    font-size: 18px; 
}
.admin-log-in-section > form > div > input{
    width: 270px;
    border: 1px solid #f3f4f6;
    border-radius: 12px; 
    padding: 6px 12px 6px 12px;
}
.admin-log-in-section > form > div > button[type]{
    padding: 5px 30px 5px 30px;
    border-radius: 12px;
    border: 1px solid #fde68a;
    background-color: #fde68a;
    font-size: 18px;
    cursor: pointer;
}
.admin-log-in-section > form > div > button[type]:hover{
    border: 1px solid #fde68aa8;
    background-color: #fde68aa8;
}

/* Admin|Admin Activation */
.admin-activation-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 

    border: 1px solid white; 
    border-radius: 12px;
    color: #f3f4f6;
    margin: 50px auto;
    width: 800px;
    padding: 12px;
}
.admin-activation-section > h2{
    font-size: 30px; 
}
.admin-activation-section > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 

    /* border: 1px solid white; */
}
.admin-activation-section > form > div{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1px;
}
.admin-activation-section > form > div > label{
    font-size: 18px; 
}
.admin-activation-section > form > div > input{
    width: 270px; 
    border: 1px solid #f3f4f6;
    border-radius: 12px; 
    padding: 6px 12px 6px 12px;
}
.admin-activation-section > form > div > button[type]{
    padding: 5px 30px 5px 30px;
    border-radius: 12px;
    border: 1px solid #fde68a;
    background-color: #fde68a;
    font-size: 16px;
    cursor: pointer;
}
.admin-activation-section > form > div > button[type]:hover{
    border: 1px solid #fde68aa8;
    background-color: #fde68aa8;
}

/* Admin Activation|Admin Set Credentials */
.admin-set-credential-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 

    border: 1px solid white;
    border-radius: 12px;
    margin: 50px auto;
    width: 800px;
    color: #f3f4f6; 
    padding: 12px;
}
.admin-set-credential-section > h2{
    font-size: 30px;
}
.admin-set-credential-section > form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
}
.admin-set-credential-section > form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; 
}
.admin-set-credential-section > form > div > label{
    font-size: 18px; 
}
.admin-set-credential-section > form > div > input{
    border: 1px solid #f3f4f6;
    border-radius: 12px; 
    width: 270px;
    padding: 6px 12px 6px 12px; 
}
.admin-set-credential-section > form > div > button[type]{
    background-color: #fde68a;
    border: 1px solid #fde68a;
    border-radius: 12px; 
    padding: 5px 30px 5px 30px; 
    font-size: 16px; 
    cursor: pointer;
}
.admin-set-credential-section > form > div > button[type]:hover{
    background-color: #fde68aa8;
    border: 1px solid #fde68aa8;
}

.admin-set-credential-username-exist{ /* Set Credential Username Exist */
    border: 1px solid red;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 12px; 
}
.admin-set-credential-username-exist > p{
    text-align: center; 
    font-size: 18px; 
}

.admin-set-credential-username-error{ /* Set Credential Username Error */
    border: 1px solid red;
    border-radius: 12px; 
    padding: 5px; 
    margin-bottom: 12px; 
}
.admin-set-credential-username-error > h3{
    text-align: center; 
}
.admin-set-credential-username-error > ul > li{
    font-size: 18px; 
}
.admin-set-credential-username-error > ul > li:nth-child(6){
    color: #fde68a; 
}

.admin-set-credential-password-error{ /* Set Credential Password Error */
    border: 1px solid red;  
    border-radius: 12px; 
    padding: 5px; 
    margin-bottom: 12px; 
}
.admin-set-credential-password-error > h3{
    text-align: center; 
}
.admin-set-credential-password-error > ul > li{
    font-size: 18px; 
}
.admin-set-credential-password-error > ul > li:nth-child(7){
    color: #fde68a; 
}

/* Admin Set Credentials|Admin Activation Successs */
.admin-activation-success-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 

    padding: 12px;
    border: 1px solid white;
    border-radius: 12px;
    width: 800px;
    margin: 50px auto;  
    color: #f3f4f6;
}
.admin-activation-success-section > h2{
    font-size: 30px; 
}
.admin-activation-success-section > p{
    font-size: 18px;
}

/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/* ||Forgot Admin Username and Admin Password Sections|| */

/* |Forgot Admin User Name Section| */
.forgot-admin-username-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 

    border: 1px solid white; 
    border-radius: 12px;
    color: #f3f4f6; 
    width: 800px; 
    margin: 50px auto;
    padding: 10px; 
}
.forgot-admin-username-section > form{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.forgot-admin-username-section > form > div{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1px;
    font-size: 18px;
}
.forgot-admin-username-section > form > div > input{
    width: 270px; 
    border: 1px solid #f3f4f6; 
    border-radius: 12px; 
    padding: 6px 12px 6px 12px; 
}
.forgot-admin-username-section > form > div > button[type]{
    border: 1px solid #fde68a;
    background-color: #fde68a;
    border-radius: 12px;
    padding: 5px 30px 5px 30px; 
    font-size: 16px; 
    cursor: pointer; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.forgot-admin-username-section > form > div > button[type]:hover{
    border: 1px solid #fde68aa8; 
    background-color: #fde68aa8; 
}

/* |Admin Username Reminder Sent Section| */
.admin-username-reminder-sent-section{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 20px; 

    border: 1px solid white; 
    border-radius: 12px;  
    color: #f3f4f6; 
    margin: 50px auto;
    width: 800px; 
    padding: 20px; 
}
.admin-username-reminder-sent-section > p{
    font-size: 18px;  
}
.admin-username-reminder-sent-section > p > a{
    color: #fde68a;
}
.admin-username-reminder-sent-section > p > a:hover{
    text-decoration: none; 
}

/* |Forgot Admin Password Section| */
.forgot-admin-password-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 

    border: 1px solid white;
    border-radius: 12px; 
    width: 800px; 
    margin: 50px auto; 
    color: #f3f4f6; 
    padding: 10px; 
}
.forgot-admin-password-section > form{
    display: flex; 
    flex-direction: column;
    gap: 20px; 
}
.forgot-admin-password-section > form > div{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1px;  
}
.forgot-admin-password-section > form > div > label{
    font-size: 18px;
}
.forgot-admin-password-section > form > div > input{
    width: 270px;
    border: 1px solid #f3f4f6;
    border-radius: 12px; 
    padding: 6px 12px 6px 12px; 
}
.forgot-admin-password-section > form > div > button[type]{
    border: 1px solid #fde68a;
    background-color: #fde68a; 
    border-radius: 12px; 
    padding: 5px 30px 5px 30px; 
    cursor: pointer; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.forgot-admin-password-section > form > div > button[type]:hover{
    border: 1px solid #fde68aa8;
    background-color: #fde68aa8;
}

/* |Admin Password Reset Email Sent Section| */
.admin-password-reset-email-sent-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;

    border: 1px solid white; 
    border-radius: 12px; 
    width: 800px;
    margin: 50px auto; 
    color: #f3f4f6;
    padding: 20px;
}
.admin-password-reset-email-sent-section > p{
    font-size: 18px;  
}

/* |Admin Reset Password Section| */
.admin-reset-password-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 

    border: 1px solid white; 
    border-radius: 12px;
    width: 800px;
    margin: 50px auto;
    color: #f3f4f6;
    padding: 10px; 
}
.admin-reset-password-section > form{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.admin-reset-password-section > form > div{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 1px;
}
.admin-reset-password-section > form > div > label{
    font-size: 18px; 
}
.admin-reset-password-section > form > div > input{
    border: 1px solid #f3f4f6;
    border-radius: 12px;  
    width: 270px;
    padding: 6px 12px;
}
.admin-reset-password-section > form > div > button[type]{
    border: 1px solid #fde68a;
    background-color: #fde68a;
    padding: 5px 30px;
    border-radius: 12px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 16px; 
    cursor: pointer; 
}
.admin-reset-password-section > form > div > button[type]:hover{
    border: 1px solid #fde68aa8;
    background-color: #fde68aa8; 
}

/* |Admin Reset Password Success Section| */
.admin-reset-password-success-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 

    border: 1px solid white;
    border-radius: 12px; 
    width: 800px; 
    margin: 50px auto; 
    color: #f3f4f6;
    padding: 20px;
}
.admin-reset-password-success-section > p{
    font-size: 18px;
}
.admin-reset-password-success-section > p > a{
    color: #fde68a;
}
.admin-reset-password-success-section > p > a:hover{
    text-decoration: none; 
}

/* |Admin Reset Password Expired| */
.admin-reset-password-expired-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;

    border: 1px solid white; 
    border-radius: 12px;  
    margin: 50px auto;
    width: 800px;
    color: #f3f4f6; 
    padding: 20px; 
}
.admin-reset-password-expired-section > p{
    font-size: 18px; 
}
.admin-reset-password-expired-section > p > a[href]{
    color: #fde68a;
}
.admin-reset-password-expired-section > p > a[href]:hover{
    text-decoration: none; 
}